:root {
    --cor-primaria: #F2E0D0;
    --cor-secundaria: #594336;
    --cor-terciaria: #cc9260;
    --cor-destaque: #BF6C3B;
    --cor-hover: #dbc1a9;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #22B7F2;
    color: whitesmoke;
    box-sizing: border-box;
}

.topo {
    padding: 2% 0 0 15%;
    border-bottom: 4px outset var(--cor-terciaria);
}

.topo_menu {
    display: flex;
    gap: 80px;
}

.topo_menu_links {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin-bottom: 10px;
    text-decoration: none;
}

.topo_menu_links:hover {
    transform: scale(1.2);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
}

.titulo_destaque {
    color: var(--cor-destaque);
}

img {
    width: 469px;
    margin-left: 60px;
    border: 1px solid var(--cor-primaria);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 15px 10px ;
}

.apresentacao_conteudo {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.apresentacao_links_link {
    background-color: #22B7F2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
}

.apresentacao_links_link img {
    width: 35px;
    height: 35px;
    margin: 0 1%;
}

.apresentacao_imagem {
    width: 50%;
}

.container {
    width: 80%; /* Escolha a largura desejada para o seu contêiner */
    max-width: 600px; /* Adapte conforme necessário */
    background-color: #22B7F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centraliza horizontalmente */
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    padding: 3em;

}

form {
    display: grid;
    gap: 20px;
    font-size: 1.5rem;
}

label {
    
    font-weight: bold;
    font-size: 1.8rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 0;
}

textarea {
    padding: 10px;
    height: 100px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: F2E0D0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.rodape {
    background-color:var(--cor-destaque);
    color: var(--cor-primaria);
    text-align: center;
    padding: 1em;
    position: fixed;
    
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}



@media (max-width: 1200px) {
    .topo {
        padding: 10%;
    }

    .topo_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }

    .apresentacao_imagem {
        margin-bottom: 60px;
        margin-left: 0;
    }
}

@media (max-width: 430px) {
    .topo_menu_links, 
    .rodape {
        font-size: 1.2rem;
    }
    .topo_menu {
        gap: 30px;
    }
    .apresentacao_conteudo_titulo {
        font-size: 1.9rem;

    }
    .apresentacao_conteudo_texto,
    .apresentacao_links_subtitulo {
        font-size: 1.2rem;
    }
    .apresentacao_links_link {
        font-size: 1.2rem;
    }

}